.justificar {
    text-align: justify;
}
.centrar {
    text-align: center;
}
.derecha {
    text-align: right;
    justify-content: right;
}

.color1 {
    background-color: #60b8e5;
    color: #fff;
}
.color2 {
    background-color: #329ada;
    color: #fff;
}
.color3 {
    background-color: #8ABBC7;
    color: #fff;
}
.color4 {
    background-color:  #fff;
    color: #415B7A;
}
.color5 {
    background-color: rgba(255, 255, 255, 0.3);
    color: #415B7A;
}
.color6 {
    background: linear-gradient(to right, rgba(138, 187, 199, 0.3), rgba(255, 255, 255, 0.3));
}
.color7 {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(138, 187, 199, 0.2));
}
.color8 {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(138, 187, 199, 1));
}

.colorTexto1{
    color: #415B7A;
}
.colorTexto2{
    color: #8ABBC7;
}
.colorTexto3{
    color: #8fc1c7;
}
.colorTexto4{
    color: #8fc1c7;
    text-decoration-line: underline;
    text-decoration-style: solid;
}
.textoBlanco{
    color: #fff;
}


.centerXY {
    border: none;
    align-items: center;
    justify-content: center;
}
.centerY {
    border: none;
    align-items: center;
}

.size7{
    font-size: 0.7rem;
}
.size6{
    font-size: 1.1rem;
}
.size5{
    font-size: 1.25rem;
}
.size4{
    font-size: 1.5rem;
}
.size3{
    font-size: 1.75rem;
}
.size2{
    font-size: 2rem;
}
.size1{
    font-size: 2.5rem;
}


.bg-nb{
    background-image: url("../img/navbar.jpg");
}
.bg-index{
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}
.bg-footer{
    background-color: #415B7A;
    color: #fff;
}
.bg-blanco{
    background-color: #fff;
}


.cabecera{
    color: #415B7A;
}
.pie{
    color: #6888a1;
}
.pie:hover{
    color: #fff;
}
.resaltado{
    color: #7caace;
}

.add:hover{
    color: #00e8f7;
}

.vl{
    border-left: 2px solid #415B7A;
    width: 2px;
    margin-left: 10vh;
    margin-right: 10vh;
}

.edge{
    border-radius: 50vh;
}

.button1 {
    border-radius: 50vh;
    border: 0px;
    background-color: #8fc9d7;
    color: #fff;
}

.cuadro1 {
    background-color: rgba(49, 144, 168, 0.2);
}
.cuadro2 {
    background-color: #fff;
    border-radius: 5vh;
    text-align: justify; 
}
.cuadro3 {
    background-color: #fff;
    border-radius: 0vh;
    padding: 5vh;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}
.cuadro4{
    background-color: #415B7A;
    color: #fff;
    border-radius: 5vh;
    padding: 3vh;
}
.cuadro5 {
    background-color: rgba(49, 144, 168, 0.2);
    border-radius: 5vh;
    text-align: justify; 
}
.cuadro6 {
    background-color: rgba(65, 91, 122, .6);
    border-radius: 5vh;
    text-align: justify; 
}
.cuadroblanco{
    background-color: #fff;
}



.cuadrofilas {
    position: relative;
}
.cuadrofilas img.back {
    display: none;
    opacity: 0;
}
.cuadrofilas:hover > img.top {
    display: none;
    opacity: 0;
}
.cuadrofilas:hover > img.back {
    display: block;
    opacity: 100;
}

.cuadroservicio24 {
    position: relative;
}
.cuadroservicio24 img.back {
    display: none;
}
.cuadroservicio24:hover > img.top {
    display: none;
}
.cuadroservicio24:hover > img.back {
    display: block;
}

.cuadroseguridad {
    position: relative;
}
.cuadroseguridad img.back {
    display: none;
}
.cuadroseguridad:hover > img.top {
    display: none;
}
.cuadroseguridad:hover > img.back {
    display: block;
}

.sombra{
    box-shadow: 2px 2px 2px 1px rgba(166, 184, 189, 0.3);
}
.sombra2{
    box-shadow: 2px 2px 2px 5px rgba(166, 184, 189, 0.3);
}

.sobreponer{
    z-index: 10;
}
.atras{
    z-index: -1;
}
.al-fondo{
    z-index: -1000;
}


.btn-verde-claro{
    background-color: #98cdd5;
    border-radius: 50vh;
    color: #fff;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
}

@media screen and (max-width: 800px) and (min-width: 0px) {
    .not_priority {
        display:none;
    }
}
@media screen and (min-width: 801px) {
    .aux {
        display:none;
    }
}
@media screen and (max-width: 414px) and (min-width: 0px) {
    .celular {
        display:contents;
    }
    .tablet {
        display: none;
    }
    .pc {
        display: none;
    }
}
@media screen and (min-width: 415px) and (max-width: 999px){
    .tablet {
        display: contents;
    }
    .celular {
        display: none;
    }
    .pc {
        display: none;
    }
}
@media screen and (min-width: 1000px){
    .pc {
        display: inline;
    }
    .celular {
        display: none;
    }
    .tablet {
        display: none;
    }
}

@media screen and (max-width: 414px) and (min-width: 0px) {
    .not_priority2 {
        display:none;
    }
}
@media screen and (min-width: 415px) {
    .aux2 {
        display:none;
    }
}